.login{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 640px;
    background-color: #F71963;
    align-items: center;
    color: #142032;
}
.login p{
    font-weight: bold;
    margin-top: -18px;
    margin-bottom: 5px;
}
.login h3 {
    margin-bottom: 0;
    margin-top: 10px;
}
.slogan{
    margin-top: 0;
}
.logo{
    width: 150px;
    height: 150px;
}
.loginDivForm{
    margin-top: 26px;
    background-color: #FFF3F6;
    width: 88%;
    /* height: 335px; */
    outline: solid 5px #142032;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #142032;
    font-weight: 500;
}
.loginForm{
    width: 84%;
    /* height: 231px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
    
}
.loginForm label{
    width: 85%;
    align-items: flex-start;
    color: #142032;
    margin-bottom: 5px;
}
.loginIn{
    height: 23px;
    width: 85%;
    margin-bottom: 15px;
    border-radius: 6px 6px;
    border: solid 1px #717786;
}
.loginButton{
    background: #F71963;
    border-radius: 15px;
    padding: 5px 10px;
    font-size: 16px;
    color: white;
    font-family: 'Mitr', sans-serif;
    margin: 0px 0px 10px 0px;
}
.loginDivForm p{
    margin-top: 6px;
}
.registerLink{
    margin-top: -12px;
    margin-bottom: 20px;
}
